@use '_variables';

body {
  margin: 0;
  padding: 0;
  background-color: variables.$bg;
  color: var(--text);
  // font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  font-size: 1.5rem;
}

ul {
  list-style-image: url('../images/arrow_down.png');
}